<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>COMPFEST 2019</title>

        <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

     <link rel="stylesheet" href="{% static 'css/HAYOLOH.css' %}">

  </head>
  <body style="background-color:black; background-image: url(https://i.imgur.com/0qjRJq2.jpg);">

    <div class="judul">  PHOTOS</div>
    <div class="judul" style="font-size: 24px;">  Some Pictures of FnB CompFest 11 <br> <br></div>
    <div class="container" style="background-color: white; margin-bottom: 5%; padding: 2%; width: 80%;"> 
    
    <div class="row1"> 
  <div class="column">
    <a href="https://i.imgur.com/faio6mm.jpg">
      <img src="https://i.imgur.com/faio6mm.jpg" width="400px" height="250px" alt="Kantor Go-Jek"></a>
  <a href="https://i.imgur.com/yub3foY.jpg">
      <img src="https://i.imgur.com/yub3foY.jpg" width="400px" height="280px" alt="Kak Rafif"></a>     
  </div>
  
  
  <div class="column">
    <a href="https://i.imgur.com/AIIr91j.jpg">
      <img src="https://i.imgur.com/AIIr91j.jpg" width="400px" height="250px" alt="Kak Greta dan Icha"></a>
    <a href="https://i.imgur.com/fo18Ttn.jpg">
      <img src="https://i.imgur.com/fo18Ttn.jpg" width="250px" height="360px" alt="Kak Rafif dan Kak Farihin"></a>
    <a href="https://i.imgur.com/LzUzcTS.jpg">
      <img src="https://i.imgur.com/LzUzcTS.jpg" width="400px" height="250px" alt="Barbarzaar"></a>     
  </div>  
  
  
  <div class="column">
    <a href="https://i.imgur.com/a0jM2Xp.jpg">
      <img src="https://i.imgur.com/a0jM2Xp.jpg" width="250px" height="370px" alt="Inez dan Icha"></a>
    <a href="https://i.imgur.com/BqoUqNK.jpg">
      <img src="https://i.imgur.com/BqoUqNK.jpg" width="400px" height="250px" alt="Kantor Go-Jek"></a>    
    <a href="https://i.imgur.com/cB5xgci.jpg">
      <img src="https://i.imgur.com/cB5xgci.jpg" width="320px" height="230px" alt="All"></a>
      
      
  </div>
</div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>