        * {
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 32px;
}

.row1 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 33%; /* IE10 */
  flex: 33%;
  max-width: 33%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

    html, body, .container
    {mailto:hilmi.arista@ui.ac.id
    height: 100%; 
    min-height: 100%;
    }

     .judul{
      color: white;
      font-weight: bold;
      font-size: 40px;
      text-align: center;
      font-family: Oleo Script;
      margin-top: 2%;
    }



    .row{
      display: flex;
      flex-wrap: wrap;
    }
    @media (max-width: 700px){
      .row{
        flex-direction: column;
      }
    }

          @media (max-width: 700px){
      .row{
        position: relative;
      }
    }

     @media (min-width: 705px){
      .row{
        position: relative;
      }
    }

    body{
      background-color: black;
      overflow-x: hidden;
      margin: 0;
    }

    html {
    scroll-behavior: smooth;
    }

    
    .leftSide{
      flex: 30%;
      padding: 20px;
      background-image: url(https://i.imgur.com/0qjRJq2.jpg);
      background-position: left center;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
      position: relative;
    }
    @media (min-width: 1100px){
      .leftSide{
        position: fixed;
        height: 100%;
      }
    }

    .rightSide{
      flex: 70%;
      padding: 20px;
    }

    @media (min-width: 1100px){
      .rightSide{
        padding-left: 28%;
      }
    }

    .contact-me{
      margin-top: 10%;
      font-family: Oleo Script;
      font-size: 50px;
      line-height: 40px;
      color: #FFFFFF;
      text-align: center;
    }

    .fa {
    padding: 10px;
    border-radius: 30%;
    font-size: 30px;
    width: 50px;
    text-align: center;
    margin: 15px 2px;
    }

    .fa:hover {
    opacity: 0.7;
    }

    .fa-twitter {
    background: #55ACEE;
    color: white;
    }

    .fa-google {
    background: #dd4b39;
    color: white;
    }

    .fa-instagram {
    background: #125688;
    color: white;
    }


    .fa-yahoo {
    background: #430297;
    color: white;
    }

    .contain{
      font-family: Oleo Script;
      font-size: 34px;
      color: #FFFFFF;
      text-align: center;
    }
    .contain-list{
      margin-left: 10%;
      margin-top: 12%;
      font-family: Oleo Script;
      font-size: 28px;
      line-height: 35px;
      color: #FFFFFF;
    }

    #Profile{
      background-image: url(https://imgur.com/knc3Mh4.jpg);
      background-repeat: no-repeat; width: 103%; background-size: cover; height: 100%; margin-left: -2.5%; margin-top: -2.5%; margin-right: 20%;
    }

    .nama{
      font-family: Oleo Script;
      font-size: 32px;
      color: #FFFFFF;
    }

    .favquotes{
      font-family: Oleo Script;
      font-style: italic;
      font-size: 22px;
      line-height: 30px;
      color: #FFFFFF;
    }

    .backgroundPutih{
      background-color: white;
    }

    .backgroundGaris {
    background-image: url(https://imgur.com/bBFiMs5.jpg);
    padding: 5%;
    }

    .hello{
      left: 40%;
      top: 110%;
      font-family: Oleo Script;
      font-size: 54px;
      text-align: center;
      color: #000000;
      font-weight: bold;
    }
    .aboutMe{
      font-family: Oleo Script;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 35px;
      color: #000000;
      text-align: justify;
    }

    .aboutMe2{
      font-family: Oleo Script;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 35px;
      color: #000000;
      text-align: justify;
      display: none;
    }
  @media screen and (max-width: 600px) {
    .aboutMe2{
    display: inherit;
  }
  }

    .thanks {
    margin-top: 10%;
    text-align: center;
    color: white;
    font-family: Oleo Script;
    font-size: 50px;
    line-height: 40px;
    }

    * {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
}

/* Container around content */
.container {
  padding: 5px 10px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: 48%;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid black;
  border-width: 10px 0px 10px 10;
  border-color: transparent transparent transparent black;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -54.5%;
}

/* The actual content */
.content {
  padding: 10px 20px;
  background-color: #A383FB;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  .container::before {
  left: 60px;
  border: medium solid black;
  border-width: 10px 10px 10px 0;
  border-color: transparent black transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }

  @media screen and (max-width: 600px) {
  .timeline{
    display: none;

  }
  }