<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="HAYOLOH.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/HAYOLOH.css' %}">

    <title>Hilmi Arista</title>
   
  </head>

  <body>
    <!---<div class="leftSide" style="position: ; z-index: 5;">
        <div class="col">
            <div class="contact-me">Contact Me</div>
            <center>
            <a href="http://twitter.com/Riiistaaa" class="fa fa-twitter"></a>
            <a href="mailto:hilmiarista@gmail.com" class="fa fa-google"></a>
            <a href="instagram.com/arista0706" class="fa fa-instagram"></a>
            </center>
            



            <div class="contain">This Website Contain:</div>
              <div class="contain-list">
                <a href="#briefdesc" style="color: white;"> <p>1. Brief Description</p></a>
                <a href="#selfdesc" style="color: white;"><p>2. About Me </p></a>
                <a href="#skills" style="color: white;"><p>3. My Skills</p></a>
                <a href="#edu" style="color: white;"><p>4. Education</p></a>
                <a href="#experiences" style="color: white;"><p>5. Experiences</p></a><br><br>
              </div>
          </div>
      </div>-->

    <div class="row">
      <div class="leftSide">
          <div class="col">
            <div class="contact-me">Contact Me</div>
            <center>
            <a href="http://twitter.com/Riiistaaa" class="fa fa-twitter"></a>
            <a href="mailto:hilmiarista@gmail.com" class="fa fa-google"></a>
            <a href="instagram.com/arista0706" class="fa fa-instagram"></a>
            </center>
            



            <div class="contain">This Website Contain:</div>
              <div class="contain-list">
                <a href="#briefdesc" style="color: white;"> <p>1. Brief Description</p></a>
                <a href="#selfdesc" style="color: white;"><p>2. About Me </p></a>
                <a href="#skills" style="color: white;"><p>3. My Skills</p></a>
                <a href="#edu" style="color: white;"><p>4. Education</p></a>
                <a href="#experiences" style="color: white;"><p>5. Experiences</p></a><br>
              </div>

              <div class="contain">
              <a href = "schedule/" style="color: white;"> <center><p> My Schedule <p> </center></a><br><br>
              </div>

          </div>
      </div>
      

 
      <div class="rightSide" style="margin-left: -1%; margin-top: -1%; float: right;"><center>
        <div id="Profile">
            <br><br>
            <div class="myPhoto">
              <img src= "https://i.imgur.com/tDrk18Z.jpg"  width="200" height="250" style="border-radius: 20%;">
            </div>
            <br>
            <div class="nama"><strong>Hilmi Arista</strong></div>
            <div class="favquotes" style="padding: 5%;">'What is your name? What excites you and make your heart beat? Tell me your story.'﻿<br>
            No matter who you are, where you're from, your skin color, your gender identity, 
            <br>just speak yourself. <br>
            Find your name and find your voice by speaking yourself.<br><br><br>
            - Kim Namjoon -<br> <br> </div>
                
        </div>

        <div id="briefdesc">
          <div class="row" style="background-color: white;">
          <div class="col" style="background-color: white; padding: 5%;">
          <div class="backgroundPutih">
            <div class="backgroundGaris" >
              <div class="hello">Hello!</div>
              <div class="aboutMe">
                My name is Hilmi Arista. I am 19 years old. I'm studying at Universitas Indonesia, majoring Information System. I’m part of CSUI’18, that called Quanta. <br><br>  
                I made this website to express myself. <br><br>  
                This is my data: <br>
                Born     : Jakarta, June 7th 2000 <br>
                NPM   : 1806147003 <br>
                Major  : Information System, Universitas Indonesia <br></div>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div id="selfdesc">
          <div class="row" style="background-color: white;">
          <div class="col" style="background-color: white; padding: 5%;">
          <div class="backgroundPutih">
            <div class="backgroundGaris"> 
              <div class="hello">
              About Me <br> <br>
              </div>
            <div class="aboutMe">
              I’m that one person who like to laying on bed with music and novels. I wish I could spent more time with my bed, but I know I need to study and go to campus. <br> <br>
              Eventhough I’m a sluggish person, I have tendency to finish my job at least 1 day before deadline. I am a hard working person.<br><br>
              I love animals. I hate it when people hurt them.<br><br>
              I love Harry Potter series and want to be part of Gryffindor. But when I took House Test in a <a href="https://www.pottermore.com/">website</a> , I am a Hufflepuff. But, I love it :)<br>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div id="skills">
          <div class="row" style="background-color: white;">
          <div class="col" style="background-color: white; padding: 5%;">
          <div class="backgroundPutih">
            <div class="backgroundGaris"> 
                <div class="hello">
                My Skills
                </div>
                <div class="aboutMe"><br><br>
                I understand Python and Java. <br><br>
                I’ve made simple project used them in DDP 1 and DDP2.<br><br>
                I have good communication skills.<br><br>
                </div>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div id="edu"></div>
          <div class="row" style="background-color: white;">
          <div class="col" style="background-color: white; padding: 5%;">
          <div class="backgroundPutih">
            <div class="backgroundGaris">  
              <div class="hello">
                Education
                </div>
              <div class="timeline">
                <div class="container left">
                  <div class="content" style="left: -60%;">
                    <h2>2018-now</h2>
                    <p>Universitas Indonesia</p>
                    </div>
                  </div>
                <div class="container right">
                  <div class="content" style="left: -50%;">
                    <h2>2015-2018</h2>
                    <p>SMAN 26 Jakarta</p>
                    </div>
                  </div>
                <div class="container left">
                  <div class="content" style="left: -60%;">
                    <h2>2012-2015</h2>
                    <p>SMPN 57 Jakarta</p>
                  </div>
                </div>
                <div class="container right">
                  <div class="content" style="left: -50%;">
                    <h2>2006-2012</h2>
                    <p>SDN Menteng Atas 05 Pagi</p>
                  </div>
                </div>
              </div>
              <div class="aboutMe2"> <br>
                2018-now : Universitas Indonesia <br><br>
                2015-2018 : SMAN 26 Jakarta<br><br>
                2012-2015 : SMPN 57 Jakarta<br><br>
                2006-2012 : SDN Menteng Atas 05 Pagi<br><br>
              </div>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div id="experiences">
          <div class="row" style="background-color: white;">
          <div class="col" style="background-color: white; padding: 5%;">
          <div class="backgroundPutih">
            <div class="backgroundGaris"> 
                <div class="hello">
                Experiences
                </div>
                <div class="aboutMe"><br>
                2018-2019:<br><br>
                - Participant of SBF Adkesma<br>
                - MenPes Staff of BETIS<br>
                - HRD Staff of Bimbel Mengejar UI<br>
                - TPA Tutor in Bimbel Mengejar UI<br><br>
                2019:<br><br>
                - FnB Staff of COMPFEST <a href="blog">(Click here to see photos)</a><br><br>
                </div>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div class="hello" style="color: white; padding-bottom: 5%;">
            <div class="thanks"> <strong>Thank You <br> </strong></div>
        </div>

        </center>



            

          
        
      </div>
    </div>
  </body>



    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  </html>